<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>achtwitter</key>
	<array>
		<string>twitter connector</string>
		<string>tweet your score</string>
		<string>tweeted score</string>
	</array>
	<key>achfacebook</key>
	<array>
		<string>facebook connector</string>
		<string>post your score on facebook</string>
		<string>posted score on facebook</string>
	</array>
	<key>achspring</key>
	<array>
		<string>прыгун в пружинных сапогах</string>
		<string>прыгать с пружинными ботинками без падения</string>
		<string>прыгнул с пружинными ботинками без падения</string>
	</array>
	<key>achspringer</key>
	<array>
		<string>серийный спринтер</string>
		<string>прыгнуть на 3 пружины подряд</string>
		<string>прыгнул на 3 пружины подряд</string>
	</array>
	<key>achsuperspringer</key>
	<array>
		<string>супер серийный спринтер</string>
		<string>прыгнуть на 5 пружин подряд</string>
		<string>прыгнул на 5 пружин подряд</string>
	</array>
	<key>achbouncer</key>
	<array>
		<string>вышибала монстров</string>
		<string>прыгнуть на 10 монстров в одной игре</string>
		<string>прыгнул на 10 монстров в одной игре</string>
	</array>
	<key>achsuperbouncer</key>
	<array>
		<string>супер вышибала монстров</string>
		<string>прыгнуть на 30 монстров в одной игре</string>
		<string>прыгнул на 30 монстров в одной игре</string>
	</array>
	<key>achconflict</key>
	<array>
		<string>увертывающийся</string>
		<string>прыгнуть мимо 10 монстров в одной игре</string>
		<string>прыгнул мимо 10 монстров в одной игре</string>
	</array>
	<key>achsuperconflict</key>
	<array>
		<string>супер увертывающийся</string>
		<string>прыгнуть мимо 30 монстров в одной игре</string>
		<string>прыгнул мимо 30 монстров в одной игре</string>
	</array>
	<key>achsharp</key>
	<array>
		<string>меткий стрелок</string>
		<string>попасть в 5 монстров подряд без пропусков</string>
		<string>попал в 5 монстров подряд без пропусков</string>
	</array>
	<key>achsupersharp</key>
	<array>
		<string>супер меткий стрелок</string>
		<string>попасть в 10 монстров подряд без пропусков</string>
		<string>попал в 10 монстров подряд без пропусков</string>
	</array>
	<key>achpropeller</key>
	<array>
		<string>голова с пропеллером</string>
		<string>слетать 3 раза с пропеллером в одной игре</string>
		<string>слетал 3 раза с пропеллером в одной игре</string>
	</array>
	<key>achjetpack</key>
	<array>
		<string>всадник реактивного ранца</string>
		<string>слетать 3 раза с ранцем в одной игре</string>
		<string>слетал 3 раза с ранцем в одной игре</string>
	</array>
	<key>achold</key>
	<array>
		<string>старомодный прыгун</string>
		<string>прыгнуть мимо 3 ранцев не одевая их</string>
		<string>прыгнул мимо 3 ранцев не одевая их</string>
	</array>
	<key>achufo</key>
	<array>
		<string>избежавший похищения НЛО</string>
		<string>избежать похищения НЛО</string>
		<string>избежал похищения НЛО</string>
	</array>
	<key>achracechamp</key>
	<array>
		<string>racing champ</string>
		<string>win 100 multiplayer races</string>
		<string>won 100 multiplayer races</string>
	</array>
	<key>achracehero</key>
	<array>
		<string>racing hero</string>
		<string>win 500 multiplayer races</string>
		<string>won 500 multiplayer races</string>
	</array>
	<key>achracelegend</key>
	<array>
		<string>racing legend</string>
		<string>win 1000 multiplayer races</string>
		<string>won 1000 multiplayer races</string>
	</array>
	<key>achendurancejumper</key>
	<array>
		<string>выносливый прыгун</string>
		<string>прыгнуть 200 раз на неподвижные платформы</string>
		<string>прыгнул 200 раз на неподвижные платформы</string>
	</array>
	<key>achfocusedendurancejumper</key>
	<array>
		<string>точный выносливый прыгун</string>
		<string>прыгнуть 100 раз на подвижные платформы</string>
		<string>прыгнул 100 раз на подвижные платформы</string>
	</array>
	<key>achepicfail</key>
	<array>
		<string>эпический провал</string>
		<string>сломать 50 платформ за одну игру</string>
		<string>сломал 50 платформ за одну игру</string>
	</array>
	<key>achepicfailftw</key>
	<array>
		<string>глобально эпический провал</string>
		<string>сломать всего 1000 платформ</string>
		<string>сломал всего 1000 платформ</string>
	</array>
	<key>achdoodlejumpexplorer</key>
	<array>
		<string>исследователь doodle jump</string>
		<string>сыграть в каждую тему минимум 5 раз</string>
		<string>сыграл в каждую тему минимум 5 раз</string>
	</array>
	<key>achmonsterchopper</key>
	<array>
		<string>измельчитель монстров</string>
		<string>прилететь в монстра с одетым пропеллером</string>
		<string>прилетел в монстра с одетым пропеллером</string>
	</array>
	<key>achufobouncer</key>
	<array>
		<string>вышибала НЛО</string>
		<string>прыгнуть на НЛО</string>
		<string>прыгнул на НЛО</string>
	</array>
	<key>achhundredthousand</key>
	<array>
		<string>100,000</string>
		<string>прыгнуть выше 100,000 очков</string>
		<string>прыгнул выше 100,000 очков</string>
	</array>
	<key>achpocketgod</key>
	<array>
		<string>pocket god</string>
		<string>throw some coconuts</string>
		<string>thrown some coconuts</string>
	</array>
	<key>achegghunter50</key>
	<array>
		<string>egg hunter</string>
		<string>collect 50 easter eggs in one game</string>
		<string>collected 50 easter eggs in one game</string>
	</array>
	<key>achegghunter1000</key>
	<array>
		<string>egg hunter extraordinaire</string>
		<string>collect 1000 easter eggs</string>
		<string>collected 1000 easter eggs</string>
	</array>
	<key>acharachnophobia</key>
	<array>
		<string>арахнофобия</string>
		<string>избежать 50 пауков</string>
		<string>избежал 50 пауков</string>
	</array>
	<key>achgorillathrilla</key>
	<array>
		<string>горилла-трилла</string>
		<string>победить злую обезьяну 25 раз</string>
		<string>победил злую обезьяну 25 раз</string>
	</array>
	<key>achnodivingallowed</key>
	<array>
		<string>пикирование запрещено</string>
		<string>уничтожить 50 пикирующих монстров</string>
		<string>уничтожил 50 пикирующих монстров</string>
	</array>
	<key>achinvaderterminator</key>
	<array>
		<string>разрушитель захватчиков</string>
		<string>уничтожить 25 полных блоков захватчиков</string>
		<string>уничтожил 25 полных блоков захватчиков</string>
	</array>
	<key>achhealthyeater</key>
	<array>
		<string>здоровый едок</string>
		<string>съесть 100 вишенок</string>
		<string>съел 100 вишенок</string>
	</array>
</dict>
</plist>
