<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>YES_BTN</key>
	<string>да</string>
	<key>NO_BTN</key>
	<string>нет</string>
	<key>CLOSE_BTN</key>
	<string>закрыть</string>
	<key>GREAT_BTN</key>
	<string>да!</string>
	<key>WON_POPUP</key>
	<string>ваш выигрыш:</string>
	<key>SPIN</key>
	<string>крутить</string>
	<key>STOP</key>
	<string>стоп</string>
	<key>GAMEOVER_SCORE</key>
	<string>ваш счет:</string>
	<key>GAMEOVER_HIGHSCORE</key>
	<string>ваш лучший счет:</string>
	<key>GAMEOVER_LT_HIGHSCORE</key>
	<string>общий лучший счет:</string>	
	<key>GAMEOVER_NAME</key>
	<string>ваше имя:</string>
	<key>TAPTOCHANGE</key>
	<string>коснитесь для\nизменения</string>
	<key>PLAYAGAIN</key>
	<string>играть снова</string>
	<key>REMOVEADS</key>
	<string>убрать рекламу</string>
	<key>SHARE</key>
	<string>поделиться</string>
	<key>MENU</key>
	<string>меню</string>
	<key>MISSIONS</key>
	<string scale="0.9">миссии</string>
	<key>RESUME</key>
	<string>продолжить</string>
	<key>PAUSED</key>
	<string>пауза</string>
	<key>PLAY</key>
	<string>играть</string>
	<key>TOYS_BTN</key>
	<string>игрушки</string>
	<key>PLAYAGAIN_BTN</key>
	<string>играть\n¶снова</string>
	<key>MENU_BTN</key>
	<string>¶меню</string>
	<key>REMOVEADS_BTN</key>
	<string>убрать¶¶¶¶¶¶¶\n¶¶¶¶рекламу</string>
	<key>SHARE_BTN</key>
	<string>поделиться</string>
	<key>STORE</key>
	<string>магазин</string>
	<key>WATCHVIDEO</key>
	<string>посмотреть рекламу\nдля восстановления</string>
	<key>SKIP</key>
	<string>пропустить</string>
	<key>CALIBRATE_INFO</key>
	<string>направьте устройство вертикально\nвверх и нажмите кнопку ЗАДАТЬ</string>
	<key>CALIBRATION</key>
	<string>калибровка</string>
	<key>SET</key>
	<string>задать</string>
	<key>DONE</key>
	<string>готово</string>
	<key>SPACE</key>
	<string>пробел</string>
	<key>OPTIONS</key>
	<string>настройки</string>
	<key>DIRECTIONAL</key>
	<string>направленная стрельба</string>
	<key>SOUNDS</key>
	<string>звуки</string>
	<key>ON</key>
	<string>ВКЛ</string>
	<key>OFF</key>
	<string>ВЫКЛ</string>
	<key>AUTO</key>
	<string>АВТО</string>
	<key>MANUAL</key>
	<string>ВРУЧНУЮ</string>
	<key>LOGIN</key>
	<string>войти</string>
	<key>LOGOUT</key>
	<string>выйти</string>
	<key>PRIVACY</key>
	<string>условия приватности</string>
	<key>CALIBRATE</key>
	<string>калибровать</string>
	<key>SIGNIN_GOOGLE</key>
	<string>войти в¶¶¶¶¶¶¶¶\nаккаунт google</string>
	<key>CONNECTED_GOOGLE</key>
	<string>вы соединены¶¶¶\n¶¶¶с аккаунтом google</string>
	<key>BUY_BTN</key>
	<string>купить</string>
	<key>LOADING</key>
	<string>загрузка...</string>
	<key>COPYRIGHT</key>
	<string>©2024 Lima Sky LLC</string>
	<key>STORE_BTN</key>
	<string scale="0.73" space="0.8">магазин¶¶</string>
	<key>OPTIONS_BTN</key>
	<string scale="0.73" space="0.8">¶¶настройки</string>
	<key>SCORES_BTN</key>
	<string scale="0.73" space="0.8">достижения¶¶</string>
	<key>SWIPE_ALERT</key>
	<string scale="0.78" space="0.86">¶¶¶¶¶потяните\nдля смены темы</string>
	<key>TOURNAMENTS</key>
	<string scale="0.95">турниры</string>
</dict>
</plist>