<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CONN_ERR</key>
	<string>ошибка соединения</string>
	<key>SCORE_ERR</key>
	<string>невозможно установить соединение с сервером результатов. пожалуйста проверьте интернет соединение и попробуйте еще раз.</string>
	<key>NEWS_ERR</key>
	<string>невозможно установить соединение с сервером новостей. пожалуйста проверьте интернет соединение и попробуйте еще раз.</string>
	<key>GPG_ERR</key>
	<string>для того, чтобы соревноваться с друзьями, необходимо войти в аккаунт Google Play Services. пожалуйста нажмите кнопку 'войти' в меню настроек.</string>
	<key>BUY_CONF</key>
	<string>вы действительно хотите приобрести %s?</string>
	<key>STORE_ERR</key>
	<string>невозможно установить соединение с магазином.</string>
	<key>STORE_ERR_INT</key>
	<string>возникла проблема при попытке соединения с магазином. пожалуйста проверьте интернет соединение и попробуйте еще раз.</string>
	<key>PURCH_ERR</key>
	<string>невозможно совершить покупку. пожалуйста попробуйте еще раз позднее.</string>
</dict>
</plist>