<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>STRING_ID_COLLECT_X_GOLD</key>
	<array>
		<string>соберите %d золота</string>
		<string>вы собрали %d золота</string>
	</array>
	<key>STRING_ID_COLLECT_X_COINS</key>
	<array>
		<string>соберите %d монет</string>
		<string>вы собрали %d монет</string>
	</array>
	<key>STRING_ID_COLLECT_X_EGGS</key>
	<array>
		<string>соберите %d яиц</string>
		<string>вы собрали %d яиц</string>
	</array>
	<key>STRING_ID_COLLECT_X_CANDIES</key>
	<array>
		<string>соберите %d конфет</string>
		<string>вы собрали %d конфет</string>
	</array>
	<key>STRING_ID_BLAST_X_MONSTERS</key>
	<array>
		<string>расстреляйте %d монстр{s}</string>
		<string>вы расстреляли %d монстр{s}</string>
	</array>
	<key>STRING_ID_BEAT_COLOMBIA</key>
	<array>
		<string>победите команду колумбии</string>
		<string>вы победили команду колумбии</string>
	</array>
	<key>STRING_ID_BEAT_HUNGARY</key>
	<array>
		<string>победите команду венгрии</string>
		<string>вы победили команду венгрии</string>
	</array>
	<key>STRING_ID_BEAT_JAPAN</key>
	<array>
		<string>победите команду японии</string>
		<string>вы победили команду японии</string>
	</array>
	<key>STRING_ID_GET_ABDUCTED_X_TIMES</key>
	<array>
		<string>станьте похищенным %d {times}</string>
		<string>вас похитили %dx</string>
	</array>
	<key>STRING_ID_STOMP_X_MONSTERS</key>
	<array>
		<string>прыгните на %d монстр{s}</string>
		<string>вы прыгнули на %d монстр{s}</string>
	</array>
	<key>STRING_ID_DODGE_X_CANNONBALLS</key>
	<array>
		<string>увернитесь от %d ядер</string>
		<string>вы увернулись от %d ядер</string>
	</array>
	<key>STRING_ID_BLAST_X_MONSTERS_IN_GAME</key>
	<array>
		<string>расстреляйте %d монстр{s} за игру</string>
		<string>вы расстреляли %d монстр{s} за игру</string>
	</array>
	<key>STRING_ID_STOMP_X_MONSTERS_IN_GAME</key>
	<array>
		<string>прыгните на %d монстр{s} за игру</string>
		<string>вы прыгнули на %d монстр{s} за игру</string>
	</array>
	<key>STRING_ID_AVOID_X_MONSTERS_IN_GAME</key>
	<array>
		<string>увернитесь от %d монстр{s} за игру</string>
		<string>вы увернулись от %d монстр{s} за игру</string>
	</array>
	<key>STRING_ID_JUMP_ON_X_SPRINGS</key>
	<array>
		<string>прыгните на %d пружинах</string>
		<string>вы прыгнули на %d пружинах</string>
	</array>
	<key>STRING_ID_DEFEAT_FRANKENSTEIN_WOLFMAN</key>
	<array>
		<string space="0.95">разгромите франкенштейна и оборотня %dx</string>
		<string>вы разгромили франкенштейна и оборотня %dx</string>
	</array>
	<key>STRING_ID_PLAY_ALL_THEMES</key>
	<array>
		<string>сыграйте во всех темах</string>
		<string>вы сыграли во всех темах</string>
	</array>
	<key>STRING_ID_USE_SPRINGSHOES_X_TIMES</key>
	<array>
		<string>используйте пружинные сапоги %dx</string>
		<string>вы использовали пружинные сапоги %dx</string>
	</array>
	<key>STRING_ID_DESTROY_X_ICEBLOCKS</key>
	<array>
		<string>разрушьте %d ледяных блок{s}</string>
		<string>вы разрушили %d ледяных блок{s}</string>
	</array>
	<key>STRING_ID_OPEN_X_TREASURECHESTS</key>
	<array>
		<string>откройте %d сундук{s} с сокровищами</string>
		<string>вы открыли %d сундук{s}</string>
	</array>
	<key>STRING_ID_SHARE_X_TIMES</key>
	<array>
		<string>поделитесь вашими очками %d {times}</string>
		<string>вы поделитесь вашими очками %dx</string>
	</array>
	<key>STRING_ID_BOUNCE_ON_X_TRAMPOLINES</key>
	<array>
		<string>подпрыгните на батуте %d {times}</string>
		<string>вы подпрыгнули на %d батутах</string>
	</array>
	<key>STRING_ID_RIDE_X_SPACESHIPS</key>
	<array>
		<string>прокатитесь на ракете %d {times}</string>
		<string>вы прокатились на ракете %d {times}</string>
	</array>
	<key>STRING_ID_HIDE_IN_BUSHES_X_TIMES</key>
	<array>
		<string>спрячьтесь в кустах %d {times}</string>
		<string>вы спрятались в кустах %dx</string>
	</array>
	<key>STRING_ID_RESURRECT_X_TIMES</key>
	<array>
		<string>воскресите персонажа %d {times}</string>
		<string>вы воскресли персонажа %dx</string>
	</array>
	<key>STRING_ID_WEAR_X_PROPELLERS</key>
	<array>
		<string>оденьте пропеллер-шапку %d {times}</string>
		<string>вы одели пропеллер-шапку %d {times}</string>
	</array>
	<key>STRING_ID_SCORE_X_Y_TIMES</key>
	<array>
		<string>получите больше %d1 очков %d2 {times}</string>
		<string>вы получили больше %d1 очков</string>
	</array>
	<key>STRING_ID_AVOID_X_ARCTIC_BLASTS</key>
	<array>
		<string>увернитесь от ледяных порывов %d {times}</string>
		<string>уклонились от ледяных порывов %dx</string>
	</array>
	<key>STRING_ID_STOMP_ON_X_PUFFERFISH</key>
	<array>
		<string>растопчите рыбу фугу %d {times}</string>
		<string>вы растоптали рыбу фугу %d {times}</string>
	</array>
	<key>STRING_ID_RIDE_X_BROOMS</key>
	<array>
		<string>прокатитесь на метле %d {times}</string>
		<string>вы оседлали метлу %d {times}</string>
	</array>
	<key>STRING_ID_USE_X_HEADSTARTS</key>
	<array>
		<string>используйте %d старт{s} в начале</string>
		<string>вы использовали %d старт{s}</string>
	</array>
	<key>STRING_ID_GET_CAUGHT_X_BEARTRAPS</key>
	<array>
		<string>попадитесь в капкан медведя %d {times}</string>
		<string>вы попались в %d капкан{s}</string>
	</array>
	<key>STRING_ID_BREAK_X_PLATFORMS</key>
	<array>
		<string>разрушьте %d платформ</string>
		<string>вы разрушили %d платформ</string>
	</array>
	<key>STRING_ID_SURVIVE_X_RAINSTORMS</key>
	<array>
		<string>выживите в ливне %d {times}</string>
		<string>вы пережили ливни %d {times}</string>
	</array>
	<key>STRING_ID_FREEZE_X_TIMES</key>
	<array>
		<string>замерзните %d {times}</string>
		<string>вы замерзли %dx</string>
	</array>
	<key>STRING_ID_SURVIVE_X_BLIZZARDS</key>
	<array>
		<string>выживите в метели %d {times}</string>
		<string>вы пережили метели %d {times}</string>
	</array>
	<key>STRING_ID_UNLOCK_X_COSTUMES</key>
	<array>
		<string>откройте %d костюм{s}</string>
		<string>вы открыли %d костюм{s}</string>
	</array>
	<key>STRING_ID_FLY_INTO_X_MONSTERS_PROPELLER</key>
	<array>
		<string>влетите в %d монстр{s} с пропеллером</string>
		<string>вы влетели в %d монстр{s}</string>
	</array>
	<key>STRING_ID_BOUNCE_X_TIMES_UFO</key>
	<array>
		<string>подпрыгните на %d НЛО</string>
		<string>вы подпрыгнули на %d НЛО</string>
	</array>
	<key>STRING_ID_FLY_X_JETPACKS_IN_GAME</key>
	<array>
		<string space="0.87">используйте реактивный ранец %d {times} за игру</string>
		<string>вы использовали реактивный ранец %dx</string>
	</array>
        <key>STRING_ID_BOUNCE_X_MOVING_PLATFORMS</key>
	<array>
		<string>прыгните на %d подвижных платформах</string>
		<string>вы прыгнули на %d подвижных платформах</string>
	</array>
	<key>STRING_ID_BLAST_X_MONSTERS_PRECISE</key>
	<array>
		<string space="0.87">расстреляйте %d монстр{s} без единого промаха</string>
		<string>вы очень точно расстреляли %d монстр{s}</string>
	</array>
	<key>STRING_ID_MISS_X_HITS</key>
	<array>
		<string space="0.9">выстрелить по монстрам и промахнуться %dx</string>
		<string>вы промахнулись %d {times}</string>
	</array>
	<key>STRING_ID_STOMP_X_REFEREES</key>
	<array>
		<string space="0.9">прыгните на футбольного арбитра %d {times}</string>
		<string>вы прыгнули на арбитра %d {times}</string>
	</array>
	<key>STRING_ID_RIDE_X_ROCKETSLEDS</key>
	<array>
		<string>используйте ракетные сани %d {times}</string>
	</array>
	<key>STRING_ID_USE_GIFTBOX_X_TIMES</key>
	<array>
		<string>откройте подарочные коробки %d {times}</string>
	</array>
	<key>STRING_ID_BLAST_X_SNOWMANS</key>
	<array>
		<string>попадите снежком в снеговика %d {times}</string>
	</array>
	<key>STRING_ID_STOMP_X_REINDEERS</key>
	<array>
		<string>прыгните на оленя %dx {times}</string>
	</array>
	<key>STRING_ID_CHOP_TREE_IN_A_GAME</key>
	<array>
		<string>срубите елку %d {times} за игру</string>
	</array>
	<key>STRING_ID_SHARE_SNOW_X_TIMES</key>
	<array>
		<string space="0.9">поделитесь вашими снежными результатами %dx</string>
	</array>
	<key>STRING_ID_STOMP_X_YETI</key>
	<array>
		<string>прыгните на йети %dx</string>
	</array>
	<key>STRING_ID_BLAST_X_SNOWFLAKES</key>
	<array>
		<string>расстреляйте снежинку %d {times}</string>
	</array>
	<key>STRING_ID_DESTROY_X_SPACEBARRELS</key>
	<array>
		<string>уничтожьте звездную бочку %d {times}</string>
	</array>	
	<key>STRING_ID_RIDE_X_8BITROCKETS</key>
	<array>
		<string>используйте %d разных ракет</string>
	</array>	
	<key>STRING_ID_BLAST_X_SIBLOCKS</key>
	<array>
		<string space="0.95">расстреляйте %d блок{s} космозахватчиков</string>
	</array>
	<key>STRING_ID_TAG_X_GHOSTS</key>
	<array>
		<string>стукните %d монстр{s}-приведений</string>
	</array>	
	<key>STRING_ID_ELIMINATE_CHOMP_MONSTERS</key>
	<array>
		<string>уничтожьте %d чавкающих монстр{s}</string>
	</array>
	<key>STRING_ID_WEAR_SPRINGSUIT_X_TIMES</key>
	<array>
		<string>наденьте пружинный костюм %dx</string>
	</array>
	<key>STRING_ID_BLAST_X_SPIDERS</key>
	<array>
		<string>расстреляйте паука %dx</string>
	</array>
	<key>STRING_ID_AVOID_X_DIVEBOMBERS</key>
	<array>
		<string>увернитесь от пикирующего монстра  %dx</string>
	</array>
	<key>STRING_ID_KILL_X_SPACEAPES</key>
	<array>
		<string>прогоните космическую обезьяну %dx</string>
	</array>
	<key>STRING_ID_RIDE_X_8BITROCKETS_INGAME</key>
	<array>
		<string>используйте %d разных ракет за игру</string>
	</array>
</dict>
</plist>
