<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CONTACTING_STORE</key>
	<string>соединение с магазином...</string>
	<key>FREE_VIDEO</key>
	<string>бесплатно¶¶¶</string>
	<key>FREE</key>
	<string>смотреть¶¶\n¶¶рекламу!</string>
	<key>NEED_MORE_COINS</key>
	<string>нужно больше монет</string>
	<key>GET_MORE_COINS</key>
	<string>получить больше монет</string>
	<key>NEED_MORE_GOLD</key>
	<string>нужно больше золота</string>
	<key>GET_MORE_GOLD</key>
	<string>получить больше золота</string>
	<key>NEED_MORE_CANDIES</key>
	<string>нужно больше конфет</string>
	<key>GET_MORE_CANDIES</key>
	<string>получить больше конфет</string>
	<key>NEED_MORE_EGGS</key>
	<string>нужно¶¶¶\nбольше яиц</string>
	<key>GET_MORE_EGGS</key>
	<string>получить\nбольше яиц</string>
	<key>BEST_DEAL</key>
	<string>лучший¶¶¶¶¶\nвыбор!</string>
	<key>MOST_POPULAR</key>
	<string>самое¶¶¶¶¶¶¶\nпопулярное¶¶¶¶¶</string>
	<key>CURRENCY_COINS</key>
	<string>монет</string>	
	<key>CURRENCY_GOLD</key>
	<string>золота</string>	
	<key>CURRENCY_CANDIES</key>
	<string>конфет</string>
	<key>CURRENCY_EGGS</key>
	<string>яиц</string>
	<key>CONGRATS</key>
	<string>поздравляем!</string>		
	<key>YOU_EARNED</key>
	<string>вы получили</string>
	<key>OK_BUTTON</key>
	<string>да</string>
</dict>
</plist>