<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>achtwitter</key>
	<array>
		<string>connecteur twitter</string>
		<string>tweetez votre score</string>
		<string>tweeté votre score</string>
	</array>
	<key>achfacebook</key>
	<array>
		<string>connecteur facebook</string>
		<string>publiez votre score sur facebook</string>
		<string>posté votre score sur facebook</string>
	</array>
	<key>achspring</key>
	<array>
		<string space="0.96">sautant chaussures de saut</string>
		<string space="0.9">sautez avec des chaussures de saut sans tomber</string>
		<string space="0.9">sauté avec des chaussures de saut sans tomber</string>
	</array>
	<key>achspringer</key>
	<array>
		<string>série ressort</string>
		<string>sautez sur 3 ressorts d&apos;affilée</string>
		<string>sauté sur 3 ressorts d&apos;affilée</string>
	</array>
	<key>achsuperspringer</key>
	<array>
		<string>super série ressort</string>
		<string>sautez sur 5 ressorts d&apos;affilée</string>
		<string>sauté sur 5 ressorts d&apos;affilée</string>
	</array>
	<key>achbouncer</key>
	<array>
		<string>videur de monstre</string>
		<string>sautez sur 10 monstres dans un jeu</string>
		<string>sauté sur 10 monstres dans un jeu</string>
	</array>
	<key>achsuperbouncer</key>
	<array>
		<string>super videur de monstre</string>
		<string>sautez sur 30 monstres dans un jeu</string>
		<string>sauté sur 30 monstres dans un jeu</string>
	</array>
	<key>achconflict</key>
	<array>
		<string>conflit éviter</string>
		<string>sautez plus de 10 monstres dans un jeu</string>
		<string>sauté plus de 10 monstres dans un jeu</string>
	</array>
	<key>achsuperconflict</key>
	<array>
		<string>super conflit éviter</string>
		<string>sautez plus de 30 monstres dans un jeu</string>
		<string>sauté plus de 30 monstres dans un jeu</string>
	</array>
	<key>achsharp</key>
	<array>
		<string>tireur d&apos;élite</string>
		<string>tirez sur 5 monstres d&apos;affilée sans manquer</string>
		<string>tiré 5 monstres d&apos;affilée sans manquer</string>
	</array>
	<key>achsupersharp</key>
	<array>
		<string>super tireur d&apos;élite</string>
		<string>tirez sur 10 monstres d&apos;affilée sans manquer</string>
		<string>tiré 10 monstres d&apos;affilée sans manquer</string>
	</array>
	<key>achpropeller</key>
	<array>
		<string>tête d&apos;hélice</string>
		<string>volez 3 chapeaux d&apos;hélice dans un jeu</string>
		<string>volé 3 chapeaux d&apos;hélice dans un jeu</string>
	</array>
	<key>achjetpack</key>
	<array>
		<string>coureur de jetpack</string>
		<string>volez 3 jetpacks dans un jeu</string>
		<string>volé 3 jetpacks dans un jeu</string>
	</array>
	<key>achold</key>
	<array>
		<string>sauteur à l&apos;ancienne</string>
		<string space="0.92">sautez par-dessus 3 jetpacks sans en choisir un</string>
		<string space="0.92">sauté par-dessus 3 jetpacks sans en choisir un</string>
	</array>
	<key>achufo</key>
	<array>
		<string>survivant à l’enlèvement</string>
		<string>survivez à un enlèvement d&apos;ufo</string>
		<string>survécu à un enlèvement d&apos;ufo</string>
	</array>
	<key>achracechamp</key>
	<array>
		<string>champion de course</string>
		<string>gagnez 100 courses multijoueurs</string>
		<string>gagné 100 courses multijoueurs</string>
	</array>
	<key>achracehero</key>
	<array>
		<string>héros de course</string>
		<string>gagnez 500 courses multijoueurs</string>
		<string>gagné 500 courses multijoueurs</string>
	</array>
	<key>achracelegend</key>
	<array>
		<string>légende de la course</string>
		<string>gagnez 1000 courses multijoueurs</string>
		<string>gagné 1000 courses multijoueurs</string>
	</array>
	<key>achendurancejumper</key>
	<array>
		<string>sauteur d&apos;endurance</string>
		<string space="0.98">sautez 200 fois sur une plate-forme statique</string>
		<string space="0.98">sauté 200 fois sur une plate-forme statique</string>
	</array>
	<key>achfocusedendurancejumper</key>
	<array>
		<string>super sauteur d&apos;endurance</string>
		<string>sautez 100 fois sur une plate-forme mobile</string>
		<string>sauté 100 fois sur une plate-forme mobile</string>
	</array>
	<key>achepicfail</key>
	<array>
		<string>épique échec</string>
		<string>brisez 50 plates-formes en un seul jeu</string>
		<string>brisé 50 plateformes en un seul jeu</string>
	</array>
	<key>achepicfailftw</key>
	<array>
		<string>super épique échec</string>
		<string>brisez un total de 1000 plates-formes</string>
		<string>brisé un total de 1000 plates-formes</string>
	</array>
	<key>achdoodlejumpexplorer</key>
	<array>
		<string>explorateur de doodle jump</string>
		<string>jouez chaque thème au moins 5 fois</string>
		<string>joué chaque thème au moins 5 fois</string>
	</array>
	<key>achmonsterchopper</key>
	<array>
		<string>hacheur de monstre</string>
		<string>brisez un monstre avec un chapeau à hélice</string>
		<string>brisé en un monstre avec un chapeau à hélice</string>
	</array>
	<key>achufobouncer</key>
	<array>
		<string>ufo sauteur</string>
		<string>sautez sur un ufo</string>
		<string>sauté sur un ufo</string>
	</array>
	<key>achhundredthousand</key>
	<array>
		<string>100,000</string>
		<string>sautez plus de 100 000</string>
		<string>sauté plus de 100 000</string>
	</array>
	<key>achpocketgod</key>
	<array>
		<string>pocket god</string>
		<string>jetez des noix de coco</string>
		<string>jeté des noix de coco</string>
	</array>
	<key>achegghunter50</key>
	<array>
		<string>chasseur d&apos;oeufs</string>
		<string>collectez 50 oeufs dans un jeu</string>
		<string>collecté 50 oeufs dans un jeu</string>
	</array>
	<key>achegghunter1000</key>
	<array>
		<string>super chasseur d&apos;oeufs</string>
		<string>collectez 1000 oeufs</string>
		<string>collecté 1000 oeufs</string>
	</array>
	<key>acharachnophobia</key>
	<array>
		<string>arachnophobie</string>
		<string>évitez 50 araignées</string>
		<string>évité 50 araignées</string>
	</array>
	<key>achgorillathrilla</key>
	<array>
		<string>champion de gorille</string>
		<string>devez vaincre le gorille en colère 25 fois</string>
		<string>vaincu le gorille en colère 25 fois</string>
	</array>
	<key>achnodivingallowed</key>
	<array>
		<string>pas de plongée autorisée</string>
		<string>tirez 50 bombardiers en piqué</string>
		<string>tiré 50 bombardiers en piqué</string>
	</array>
	<key>achinvaderterminator</key>
	<array>
		<string>terminateur d&apos;invasion</string>
		<string>détruisez 25 blocs d&apos;envahisseurs</string>
		<string>avez détruit 25 blocs d&apos;envahisseurs</string>
	</array>
	<key>achhealthyeater</key>
	<array>
		<string>mangeur sain</string>
		<string>mangez 100 cerises</string>
		<string>mangé 100 cerises</string>
	</array>
</dict>
</plist>
