<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>YES_BTN</key>
	<string>oui</string>
	<key>NO_BTN</key>
	<string>non</string>
	<key>CLOSE_BTN</key>
	<string>terminer</string>
	<key>GREAT_BTN</key>
	<string>ok</string>
	<key>WON_POPUP</key>
	<string>avez gagné:</string>
	<key>SPIN</key>
	<string>tourner</string>
	<key>STOP</key>
	<string>arrêt</string>
	<key>GAMEOVER_SCORE</key>
	<string>votre score:</string>
	<key>GAMEOVER_HIGHSCORE</key>
	<string>votre meilleur score:</string>
	<key>GAMEOVER_LT_HIGHSCORE</key>
	<string>global meilleur score:</string>	
	<key>GAMEOVER_NAME</key>
	<string>votre nom:</string>
	<key>TAPTOCHANGE</key>
	<string>appuyez sur\npour changer</string>
	<key>PLAYAGAIN</key>
	<string>jouer à nouveau</string>
	<key>REMOVEADS</key>
	<string>supprimer pubs</string>
	<key>SHARE</key>
	<string>partager score</string>
	<key>MENU</key>
	<string>menu</string>
	<key>MISSIONS</key>
	<string scale="0.9" space="0.9">missions</string>
	<key>RESUME</key>
	<string>reprendre</string>
	<key>PAUSED</key>
	<string>pause</string>		
	<key>PLAY</key>
	<string>jouer</string>
	<key>TOYS_BTN</key>
	<string>jouets</string>
	<key>PLAYAGAIN_BTN</key>
	<string scale="0.9">jouer\nà nouveau</string>
	<key>MENU_BTN</key>
	<string>¶menu</string>
	<key>REMOVEADS_BTN</key>
	<string>supprimer¶¶\n¶¶¶¶¶¶¶¶pubs</string>
	<key>SHARE_BTN</key>
	<string>partager</string>
	<key>STORE</key>
	<string>magasin</string>
	<key>WATCHVIDEO</key>
	<string>regardez la ad\npour ressusciter</string>	
	<key>SKIP</key>
	<string>passer</string>
	<key>CALIBRATE_INFO</key>
	<string>placez votre appareil directement\net appuyez sur le bouton FIXER</string>
	<key>CALIBRATION</key>
	<string>étalonnage</string>
	<key>SET</key>
	<string>fixer</string>
	<key>DONE</key>
	<string>fini</string>
	<key>SPACE</key>
	<string>espace</string>	
	<key>OPTIONS</key>
	<string>options</string>
	<key>DIRECTIONAL</key>
	<string>tir directionnel</string>
	<key>SOUNDS</key>
	<string>des sons</string>
	<key>ON</key>
	<string>ON</string>	
	<key>OFF</key>
	<string>OFF</string>
	<key>AUTO</key>
	<string>AUTO</string>	
	<key>MANUAL</key>
	<string>MANUEL</string>
	<key>LOGIN</key>
	<string scale="0.8">connectez</string>	
	<key>LOGOUT</key>
	<string scale="0.8">connectez\n¶out</string>
	<key>PRIVACY</key>
	<string>politique de confidentialité</string>
	<key>CALIBRATE</key>
	<string>étalonner</string>
	<key>SIGNIN_GOOGLE</key>
	<string>connectez-vous\navec google</string>
	<key>CONNECTED_GOOGLE</key>
	<string>vous êtes connecté\navec google¶¶</string>
	<key>BUY_BTN</key>
	<string scale="0.9">acheter</string>
	<key>LOADING</key>
	<string>téléchargement...</string>
	<key>COPYRIGHT</key>
	<string>©2024 Lima Sky LLC</string>
	<key>STORE_BTN</key>
	<string scale="0.76" space="0.83">magasin¶¶¶</string>
	<key>OPTIONS_BTN</key>
	<string scale="0.76" space="0.83">¶options</string>
	<key>SCORES_BTN</key>
	<string scale="0.76" space="0.83">classement¶¶</string>
	<key>SWIPE_ALERT</key>
	<string scale="0.65" space="0.73">¶¶¶¶¶¶¶¶¶¶¶glisser pour\nsélectionner le thème</string>
	<key>TOURNAMENTS</key>
	<string scale="0.95">tournois</string>
</dict>
</plist>
