<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>¶inclinez vers la gauche\n¶ou vers la droite</string>
	<key>1</key>
	<string>sautez sur ces</string>
	<key>2</key>
	<string>appuyez pour\n¶¶tirer</string>
	<key>3</key>
	<string></string>
	<key>4</key>
	<string></string>
	<key>5</key>
	<string>¶evitez</string>
	<key>6</key>
	<string>¶¶pouvez faire glisser\nces plates-formes\n¶¶avec votre doigt</string>
	<key>7</key>
	<string></string>
	<key>8</key>
	<string>ATTENDEZ! ne pas tirer!</string>
	<key>9</key>
	<string>sautez sur des monstres</string>
</dict>
</plist>
