<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>STRING_ID_COLLECT_X_GOLD</key>
	<array>
		<string>collect %d gold</string>
		<string>collected %d gold</string>
	</array>
	<key>STRING_ID_COLLECT_X_COINS</key>
	<array>
		<string>collect %d coins</string>
		<string>collected %d coins</string>
	</array>
	<key>STRING_ID_COLLECT_X_EGGS</key>
	<array>
		<string>collect %d eggs</string>
		<string>collected %d eggs</string>
	</array>
	<key>STRING_ID_COLLECT_X_CANDIES</key>
	<array>
		<string>collect %d candies</string>
		<string>collected %d candies</string>
	</array>
	<key>STRING_ID_BLAST_X_MONSTERS</key>
	<array>
		<string>blast %d monster{s}</string>
		<string>blasted %d monster{s}</string>
	</array>
	<key>STRING_ID_BEAT_COLOMBIA</key>
	<array>
		<string>beat colombia</string>
		<string>beat colombia</string>
	</array>
	<key>STRING_ID_BEAT_HUNGARY</key>
	<array>
		<string>beat hungary</string>
		<string>beat hungary</string>
	</array>
	<key>STRING_ID_BEAT_JAPAN</key>
	<array>
		<string>beat japan</string>
		<string>beat japan</string>
	</array>
	<key>STRING_ID_GET_ABDUCTED_X_TIMES</key>
	<array>
		<string>get abducted %d time{s}</string>
		<string>abducted %dx</string>
	</array>
	<key>STRING_ID_STOMP_X_MONSTERS</key>
	<array>
		<string>stomp on %d monster{s}</string>
		<string>stomped %d monster{s}</string>
	</array>
	<key>STRING_ID_DODGE_X_CANNONBALLS</key>
	<array>
		<string>dodge %d cannonball{s}</string>
		<string>dodged %d cannonball{s}</string>
	</array>
	<key>STRING_ID_BLAST_X_MONSTERS_IN_GAME</key>
	<array>
		<string>blast %d monster{s} in a game</string>
		<string>blasted %d monster{s} in a game</string>
	</array>
	<key>STRING_ID_STOMP_X_MONSTERS_IN_GAME</key>
	<array>
		<string>stomp on %d monster{s} in a game</string>
		<string>stomped %d monster{s} in a game</string>
	</array>
	<key>STRING_ID_AVOID_X_MONSTERS_IN_GAME</key>
	<array>
		<string>avoid %d monster{s} in a game</string>
		<string>avoided %d monster{s} in a game</string>
	</array>
	<key>STRING_ID_JUMP_ON_X_SPRINGS</key>
	<array>
		<string>jump on %d spring{s}</string>
		<string>jumped on %d spring{s}</string>
	</array>
	<key>STRING_ID_DEFEAT_FRANKENSTEIN_WOLFMAN</key>
	<array>
		<string>defeat frankenstein + wolfman %dx</string>
		<string>beat frankenstein + wolfman %dx</string>
	</array>
	<key>STRING_ID_PLAY_ALL_THEMES</key>
	<array>
		<string>play all themes</string>
		<string>played every theme</string>
	</array>
	<key>STRING_ID_USE_SPRINGSHOES_X_TIMES</key>
	<array>
		<string>use spring shoes %d time{s}</string>
		<string>used spring shoes %dx</string>
	</array>
	<key>STRING_ID_DESTROY_X_ICEBLOCKS</key>
	<array>
		<string>destroy %d ice block{s}</string>
		<string>crushed %d ice block{s}</string>
	</array>
	<key>STRING_ID_OPEN_X_TREASURECHESTS</key>
	<array>
		<string>open %d treasure chest{s}</string>
		<string>opened %d chest{s}</string>
	</array>
	<key>STRING_ID_SHARE_X_TIMES</key>
	<array>
		<string>share your score %d time{s}</string>
		<string>shared your score %dx</string>
	</array>
	<key>STRING_ID_BOUNCE_ON_X_TRAMPOLINES</key>
	<array>
		<string>bounce on %d trampoline{s}</string>
		<string>bounced on %d trampoline{s}</string>
	</array>
	<key>STRING_ID_RIDE_X_SPACESHIPS</key>
	<array>
		<string>ride %d spaceship{s}</string>
		<string>rode %d spaceship{s}</string>
	</array>
	<key>STRING_ID_HIDE_IN_BUSHES_X_TIMES</key>
	<array>
		<string>hide in the bushes %d time{s}</string>
		<string>hid in bushes %dx</string>
	</array>
	<key>STRING_ID_RESURRECT_X_TIMES</key>
	<array>
		<string>resurrect %d time{s}</string>
		<string>resurrected %dx</string>
	</array>
	<key>STRING_ID_WEAR_X_PROPELLERS</key>
	<array>
		<string>wear %d propeller hat{s}</string>
		<string>wore %d propeller hat{s}</string>
	</array>
	<key>STRING_ID_SCORE_X_Y_TIMES</key>
	<array>
		<string>score over %d1 %d2 time{s}</string>
		<string>scored over %d1</string>
	</array>
	<key>STRING_ID_AVOID_X_ARCTIC_BLASTS</key>
	<array>
		<string>sneak past %d arctic blast{s}</string>
		<string>avoided %d arctic blast{s}</string>
	</array>
	<key>STRING_ID_STOMP_ON_X_PUFFERFISH</key>
	<array>
		<string>stomp on %d puffer fish</string>
		<string>stomped %d puffer fish</string>
	</array>
	<key>STRING_ID_RIDE_X_BROOMS</key>
	<array>
		<string>take %d ride{s} on a broom</string>
		<string>rode %d brooms</string>
	</array>
	<key>STRING_ID_USE_X_HEADSTARTS</key>
	<array>
		<string>use %d headstart{s}</string>
		<string>used %d headstart{s}</string>
	</array>
	<key>STRING_ID_GET_CAUGHT_X_BEARTRAPS</key>
	<array>
		<string>get caught in %d bear trap{s}</string>
		<string>got caught in %d trap{s}</string>
	</array>
	<key>STRING_ID_BREAK_X_PLATFORMS</key>
	<array>
		<string>break %d platform{s}</string>
		<string>broke %d platform{s}</string>
	</array>
	<key>STRING_ID_SURVIVE_X_RAINSTORMS</key>
	<array>
		<string>survive %d rainstorm{s}</string>
		<string>survived %d rainstorm{s}</string>
	</array>
	<key>STRING_ID_FREEZE_X_TIMES</key>
	<array>
		<string>freeze %d time{s}</string>
		<string>froze %dx</string>
	</array>
	<key>STRING_ID_SURVIVE_X_BLIZZARDS</key>
	<array>
		<string>survive %d blizzard{s}</string>
		<string>survived %d blizzard{s}</string>
	</array>
	<key>STRING_ID_UNLOCK_X_COSTUMES</key>
	<array>
		<string>unlock %d costume{s}</string>
		<string>unlocked %d costume{s}</string>
	</array>
	<key>STRING_ID_FLY_INTO_X_MONSTERS_PROPELLER</key>
	<array>
		<string>fly into %d monster{s} with prop-hat</string>
		<string>flew into %d monster{s}</string>
	</array>
	<key>STRING_ID_BOUNCE_X_TIMES_UFO</key>
	<array>
		<string>bounce on %d ufo{s}</string>
		<string>bounced on %d UFO{s}</string>
	</array>
	<key>STRING_ID_FLY_X_JETPACKS_IN_GAME</key>
	<array>
		<string>fly %d jetpack{s} in a game</string>
		<string>flew %d jetpack{s}</string>
	</array>
        <key>STRING_ID_BOUNCE_X_MOVING_PLATFORMS</key>
	<array>
		<string>bounce on %d moving platform{s}</string>
		<string>bounced on %d moving platform{s}</string>
	</array>
	<key>STRING_ID_BLAST_X_MONSTERS_PRECISE</key>
	<array>
		<string>blast %d monster{s} without missing</string>
		<string>blasted %d monster{s} precisely</string>
	</array>
	<key>STRING_ID_MISS_X_HITS</key>
	<array>
		<string>shoot and miss monsters %dx</string>
		<string>blasted %d times{s} without hitting monster</string>
	</array>
	<key>STRING_ID_STOMP_X_REFEREES</key>
	<array>
		<string>stomp on the referee{s} %dx</string>
		<string>stomped on %d referee{s}</string>
	</array>
	<key>STRING_ID_RIDE_X_ROCKETSLEDS</key>
	<array>
		<string>ride the rocket sled %dx</string>
	</array>
	<key>STRING_ID_USE_GIFTBOX_X_TIMES</key>
	<array>
		<string>pick up %d gift{s}</string>
	</array>
	<key>STRING_ID_BLAST_X_SNOWMANS</key>
	<array>
		<string>hit snowman with a snowball %dx</string>
	</array>
	<key>STRING_ID_STOMP_X_REINDEERS</key>
	<array>
		<string>hop on a reindeer %dx</string>
	</array>
	<key>STRING_ID_CHOP_TREE_IN_A_GAME</key>
	<array>
		<string>chop down %d tree{s} in one game</string>
	</array>
	<key>STRING_ID_SHARE_SNOW_X_TIMES</key>
	<array>
		<string>share your score in snow %d time{s}</string>
	</array>
	<key>STRING_ID_STOMP_X_YETI</key>
	<array>
		<string>stomp on a yeti %dx</string>
	</array>
	<key>STRING_ID_BLAST_X_SNOWFLAKES</key>
	<array>
		<string>blast a snowflake %dx</string>
	</array>
	<key>STRING_ID_DESTROY_X_SPACEBARRELS</key>
	<array>
		<string>destroy %d space barrel{s}</string>
	</array>	
	<key>STRING_ID_RIDE_X_8BITROCKETS</key>
	<array>
		<string>fly %d different space rockets</string>
	</array>	
	<key>STRING_ID_BLAST_X_SIBLOCKS</key>
	<array>
		<string>wipeout block of invaders %dx</string>
	</array>	
	<key>STRING_ID_TAG_X_GHOSTS</key>
	<array>
		<string>tag %d white ghost{s}</string>
	</array>	
	<key>STRING_ID_ELIMINATE_CHOMP_MONSTERS</key>
	<array>
		<string>eliminate %d chomping monster{s}</string>
	</array>
	<key>STRING_ID_WEAR_SPRINGSUIT_X_TIMES</key>
	<array>
		<string>wear spring suit %dx</string>
	</array>
	<key>STRING_ID_BLAST_X_SPIDERS</key>
	<array>
		<string>blast %d spider{s}</string>
	</array>
	<key>STRING_ID_AVOID_X_DIVEBOMBERS</key>
	<array>
		<string>dodge dive bomber %dx</string>
	</array>
	<key>STRING_ID_KILL_X_SPACEAPES</key>
	<array>
		<string>banish space ape %dx</string>
	</array>
	<key>STRING_ID_RIDE_X_8BITROCKETS_INGAME</key>
	<array>
		<string>fly %d different rockets in a game</string>
	</array>
</dict>
</plist>
