<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>newspanel/news-bck.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,216}}</string>
                <key>sourceSize</key>
                <string>{768,214}</string>
            </dict>
            <key>newspanel/news-close.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,220},{24,24}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{24,24}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>newspanel/news-loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{116,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{116,40}}</string>
                <key>sourceSize</key>
                <string>{122,40}</string>
            </dict>
            <key>newspanel/news-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{100,28}}</string>
                <key>offset</key>
                <string>{-16,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,52},{100,28}}</string>
                <key>sourceSize</key>
                <string>{140,78}</string>
            </dict>
            <key>newspanel/news-warning.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,220},{24,28}}</string>
                <key>offset</key>
                <string>{46,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,48},{24,28}}</string>
                <key>sourceSize</key>
                <string>{140,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newspanel_X.png</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e79d6febe5ed43cf3b838dac02a3801:e2640acd8526e51c7076338326beabca:4448850f050b6dc5d19f82b42c7c7c90$</string>
            <key>textureFileName</key>
            <string>newspanel_X.png</string>
        </dict>
    </dict>
</plist>
