<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>tilt to move left or right</string>
	<key>1</key>
	<string>jump on these</string>
	<key>2</key>
	<string>touch the screen\n¶¶to shoot</string>
	<key>3</key>
	<string></string>
	<key>4</key>
	<string></string>
	<key>5</key>
	<string>avoid</string>
	<key>6</key>
	<string>¶¶¶¶you can drag these\nplatforms around\n¶¶¶with your finger</string>
	<key>7</key>
	<string></string>
	<key>8</key>
	<string>WAIT! don't shoot!</string>
	<key>9</key>
	<string>jump on monsters</string>
</dict>
</plist>
