<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>STRING_ID_COLLECT_X_GOLD</key>
	<array>
		<string>sammle %d gold</string>
		<string>collected %d gold</string>
	</array>
	<key>STRING_ID_COLLECT_X_COINS</key>
	<array>
		<string>sammle %d münzen</string>
		<string>collected %d coins</string>
	</array>
	<key>STRING_ID_COLLECT_X_EGGS</key>
	<array>
		<string>sammle %d eier</string>
		<string>collected %d eggs</string>
	</array>
	<key>STRING_ID_COLLECT_X_CANDIES</key>
	<array>
		<string>sammle %d süssigkeiten</string>
		<string>collected %d candies</string>
	</array>
	<key>STRING_ID_BLAST_X_MONSTERS</key>
	<array>
		<string>sprenge %d monster</string>
		<string>blasted %d monster{s}</string>
	</array>
	<key>STRING_ID_BEAT_COLOMBIA</key>
	<array>
		<string>schlage colombia</string>
		<string>beat colombia</string>
	</array>
	<key>STRING_ID_BEAT_HUNGARY</key>
	<array>
		<string>schlage hungary</string>
		<string>beat hungary</string>
	</array>
	<key>STRING_ID_BEAT_JAPAN</key>
	<array>
		<string>schlage japan</string>
		<string>beat japan</string>
	</array>
	<key>STRING_ID_GET_ABDUCTED_X_TIMES</key>
	<array>
		<string>werde vom ufo entführt %dx</string>
		<string>abducted %dx</string>
	</array>
	<key>STRING_ID_STOMP_X_MONSTERS</key>
	<array>
		<string>stampfe %d monster</string>
		<string>stomped %d monster{s}</string>
	</array>
	<key>STRING_ID_DODGE_X_CANNONBALLS</key>
	<array>
		<string>weiche %d kanonenkugeln aus</string>
		<string>dodged %d cannonball{s}</string>
	</array>
	<key>STRING_ID_BLAST_X_MONSTERS_IN_GAME</key>
	<array>
		<string>sprenge %d monster in einem spiel</string>
		<string>blasted %d monster{s} in a game</string>
	</array>
	<key>STRING_ID_STOMP_X_MONSTERS_IN_GAME</key>
	<array>
		<string>stampfe %d monster in einem spiel</string>
		<string>stomped %d monster{s} in a game</string>
	</array>
	<key>STRING_ID_AVOID_X_MONSTERS_IN_GAME</key>
	<array>
		<string>weiche %d monster in einem spiel aus</string>
		<string>avoided %d monster{s} in a game</string>
	</array>
	<key>STRING_ID_JUMP_ON_X_SPRINGS</key>
	<array>
		<string>springe auf %d federn</string>
		<string>jumped on %d spring{s}</string>
	</array>
	<key>STRING_ID_DEFEAT_FRANKENSTEIN_WOLFMAN</key>
	<array>
		<string>schlage frankenstein &amp; werwolf %dx</string>
		<string>beat frankenstein + wolfman %dx</string>
	</array>
	<key>STRING_ID_PLAY_ALL_THEMES</key>
	<array>
		<string>spiele alle themen</string>
		<string>played every theme</string>
	</array>
	<key>STRING_ID_USE_SPRINGSHOES_X_TIMES</key>
	<array>
		<string>benutze federschuhe %dx</string>
		<string>used spring shoes %dx</string>
	</array>
	<key>STRING_ID_DESTROY_X_ICEBLOCKS</key>
	<array>
		<string>zerstöre %d eisblock{s}</string>
		<string>crushed %d ice block{s}</string>
	</array>
	<key>STRING_ID_OPEN_X_TREASURECHESTS</key>
	<array>
		<string>öffne %d schatztruhen</string>
		<string>opened %d chest{s}</string>
	</array>
	<key>STRING_ID_SHARE_X_TIMES</key>
	<array>
		<string>teile deinen score %dx</string>
		<string>shared your score %dx</string>
	</array>
	<key>STRING_ID_BOUNCE_ON_X_TRAMPOLINES</key>
	<array>
		<string>hüpfe auf %d trampoline</string>
		<string>bounced on %d trampoline{s}</string>
	</array>
	<key>STRING_ID_RIDE_X_SPACESHIPS</key>
	<array>
		<string>fliege %d raumschiffe</string>
		<string>rode %d spaceship{s}</string>
	</array>
	<key>STRING_ID_HIDE_IN_BUSHES_X_TIMES</key>
	<array>
		<string>verstecke dich in büschen %dx</string>
		<string>hid in bushes %dx</string>
	</array>
	<key>STRING_ID_RESURRECT_X_TIMES</key>
	<array>
		<string>wiederbeleben %dx</string>
		<string>resurrected %dx</string>
	</array>
	<key>STRING_ID_WEAR_X_PROPELLERS</key>
	<array>
		<string>trage %d propellerhüte</string>
		<string>wore %d propeller hat{s}</string>
	</array>
	<key>STRING_ID_SCORE_X_Y_TIMES</key>
	<array>
		<string>erziele mehr als %d1 %d2x</string>
		<string>scored over %d1</string>
	</array>
	<key>STRING_ID_AVOID_X_ARCTIC_BLASTS</key>
	<array>
		<string space="0.9">schleiche dich an %d arktischen winden vorbei</string>
		<string>avoided %d arctic blast{s}</string>
	</array>
	<key>STRING_ID_STOMP_ON_X_PUFFERFISH</key>
	<array>
		<string>stampfe %d kugelfische</string>
		<string>stomped %d puffer fish</string>
	</array>
	<key>STRING_ID_RIDE_X_BROOMS</key>
	<array>
		<string>nimm %d mal einen besen</string>
		<string>rode %d brooms</string>
	</array>
	<key>STRING_ID_USE_X_HEADSTARTS</key>
	<array>
		<string>nutze %d startvorsprung</string>
		<string>used %d headstart{s}</string>
	</array>
	<key>STRING_ID_GET_CAUGHT_X_BEARTRAPS</key>
	<array>
		<string>werde in %d bärenfallen gefangen</string>
		<string>got caught in %d trap{s}</string>
	</array>
	<key>STRING_ID_BREAK_X_PLATFORMS</key>
	<array>
		<string>zerstöre %d platformen</string>
		<string>broke %d platform{s}</string>
	</array>
	<key>STRING_ID_SURVIVE_X_RAINSTORMS</key>
	<array>
		<string>überlebe %d regenstürme</string>
		<string>survived %d rainstorm{s}</string>
	</array>
	<key>STRING_ID_FREEZE_X_TIMES</key>
	<array>
		<string>gefriere %dx</string>
		<string>froze %dx</string>
	</array>
	<key>STRING_ID_SURVIVE_X_BLIZZARDS</key>
	<array>
		<string>überlebe %d schneesturm</string>
		<string>survived %d blizzard{s}</string>
	</array>
	<key>STRING_ID_UNLOCK_X_COSTUMES</key>
	<array>
		<string>öffne %d kostüme</string>
		<string>unlocked %d costume{s}</string>
	</array>
	<key>STRING_ID_FLY_INTO_X_MONSTERS_PROPELLER</key>
	<array>
		<string>treffe %d monster mit dem propellerhut</string>
		<string>flew into %d monster{s}</string>
	</array>
	<key>STRING_ID_BOUNCE_X_TIMES_UFO</key>
	<array>
		<string>hüpfe auf %d ufo{s}</string>
		<string>bounced on %d UFO{s}</string>
	</array>
	<key>STRING_ID_FLY_X_JETPACKS_IN_GAME</key>
	<array>
		<string>fliege %d jetpacks in einem spiel</string>
		<string>flew %d jetpack{s}</string>
	</array>
	<key>STRING_ID_BOUNCE_X_MOVING_PLATFORMS</key>
	<array>
		<string>hüpfe auf %d bewegende plattformen</string>
		<string>bounced on %d moving platform{s}</string>
	</array>
	<key>STRING_ID_BLAST_X_MONSTERS_PRECISE</key>
	<array>
		<string>sprenge %d monster ohne unterbrechung</string>
		<string>blasted %d monster{s} precisely</string>
	</array>
	<key>STRING_ID_MISS_X_HITS</key>
	<array>
		<string>schießen und verpassen monster %dx</string>
		<string>blasted %d times{s} without hitting monster</string>
	</array>
	<key>STRING_ID_STOMP_X_REFEREES</key>
	<array>
		<string>stampfe auf den schiedsrichter %dx</string>
		<string>stomped on %d referee{s}</string>
	</array>
	<key>STRING_ID_RIDE_X_ROCKETSLEDS</key>
	<array>
		<string>reiten den raketenschlitten %dx</string>
	</array>
	<key>STRING_ID_USE_GIFTBOX_X_TIMES</key>
	<array>
		<string>abholen %d geschenke</string>
	</array>
	<key>STRING_ID_BLAST_X_SNOWMANS</key>
	<array>
		<string>schlagen schneemann mit schneeball %dx</string>
	</array>
	<key>STRING_ID_STOMP_X_REINDEERS</key>
	<array>
		<string>springen auf ein rentier %dx</string>
	</array>
	<key>STRING_ID_CHOP_TREE_IN_A_GAME</key>
	<array>
		<string>hacke %d baume hinunter in einem spiel</string>
	</array>
	<key>STRING_ID_SHARE_SNOW_X_TIMES</key>
	<array>
		<string>teile deinen score %dx</string>
	</array>
	<key>STRING_ID_STOMP_X_YETI</key>
	<array>
		<string>stampfen auf einem yeti %dx</string>
	</array>
	<key>STRING_ID_BLAST_X_SNOWFLAKES</key>
	<array>
		<string>schießen eine schneeflocke %dx</string>
	</array>
	<key>STRING_ID_DESTROY_X_SPACEBARRELS</key>
	<array>
		<string>zerstöre %d weltall-fässer</string>
	</array>	
	<key>STRING_ID_RIDE_X_8BITROCKETS</key>
	<array>
		<string>fliege %d verschiedene raketen</string>
	</array>
     <key>STRING_ID_BLAST_X_SIBLOCKS</key>
	<array>
		<string>zerstöre den block von eindringlingen %dx</string>
	</array>
	<key>STRING_ID_TAG_X_GHOSTS</key>
	<array>
		<string>markiere %d weisse geister</string>
	</array>	
		<key>STRING_ID_ELIMINATE_CHOMP_MONSTERS</key>
	<array>
		<string>eliminiere %d mampfende monster</string>
	</array>
	<key>STRING_ID_WEAR_SPRINGSUIT_X_TIMES</key>
	<array>
		<string>trage sprungfederanzug %dx</string>
	</array>
	<key>STRING_ID_BLAST_X_SPIDERS</key>
	<array>
		<string>vernichte %d spinnen</string>
	</array>
	<key>STRING_ID_AVOID_X_DIVEBOMBERS</key>
	<array>
		<string>weiche bomber aus %dx</string>
	</array>
	<key>STRING_ID_KILL_X_SPACEAPES</key>
	<array>
		<string>vertreibe weltall-affe %dx</string>
	</array>
	<key>STRING_ID_RIDE_X_8BITROCKETS_INGAME</key>
	<array>
		<string space="0.9">fliege %d verschiedene raketen in einem spiel</string>
	</array>
</dict>
</plist>
