<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>¶neige um nacht rechts\n¶oder links bewegen</string>
	<key>1</key>
	<string>¶¶¶¶springe auf\n¶¶¶diese</string>
	<key>2</key>
	<string>¶¶¶tippe auf den\n¶¶¶¶¶¶¶¶¶bildschirm um zu\n¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶schiessen</string>
	<key>3</key>
	<string></string>
	<key>4</key>
	<string></string>
	<key>5</key>
	<string>¶¶¶¶¶ausweichen</string>
	<key>6</key>
	<string>¶¶diese plattformen\nkann man mit\n¶¶dem finger schieben</string>
	<key>7</key>
	<string></string>
	<key>8</key>
	<string>WARTE! nicht schiessen!</string>
	<key>9</key>
	<string>springe auf die monster</string>
</dict>
</plist>
